body{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center
}
input{
  border: 2px solid rgb(37, 109, 218);
  border-radius: 4px;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  width: 3%;
  outline: none;
  transition: width 0.4s ease-in-out;
}

input:focus{
  border: 3px solid rgb(37, 109, 218);
  width: 8%;
}

img{
  width: 30%;
}